/* 
    Document   : goldstar
    Created on : Dec 26, 2013, 5:38:38 PM
    Author     : nhanlt, tuanPHPVN
    Description: Purpose of the stylesheet follows.
*/

.eli_clear {
    clear: both;
    height: auto !important;
}
.eli_hidden {
    display: none !important;
}

.eli_clearfix:before,
.eli_clearfix:after {
    content: " " !important;
    display: table !important;
}

.eli_clearfix:after {
    clear: both !important;
}

html[xmlns] .eli_clearfix {
	display: block !important;
}

* html .eli_clearfix {
	height: 1% !important;
}
button,
input,
select,
textarea {
    font-family: arial, sans-serif;
}

/*===============================GOLDSTAR ADMIN=============================================*/

div.warning {
    background-color: #fff;
    border-left: 4px solid #FFD900;

    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
    box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.1);
    margin: 5px 0 15px;
    padding: 1px 12px;
}

div.warning p{
    padding: .5em 0;
    margin: 2px;
}

.goldstar-admin .hndle{
    cursor: auto !important;
}

.goldstar-admin .child {
    border: 1px solid #ddd;
    margin: 0 0 10px;
}

.goldstar-admin #goldstar-content {
    background: transparent;
    border: none;
}

.goldstar-admin h4.hndle {
    border-bottom: 1px solid #eee;
    padding: 8px 12px;
    margin: 0;
}

/* --- Override font --- */

.goldstar-admin .metabox-holder h3
{
    font-size: 18px;
}

.goldstar-admin .metabox-holder h4
{
    font-size: 16px;
}

/*//*/

/* Override table */

.goldstar-admin .form-table th {
    width: 230px;
    padding: 0px;
    font-weight: normal;
}

.goldstar-admin .form-table td {
    padding: 0px;
}

.goldstar-admin td.description {
}

/*//*/

/* Theme input checkbox  */

.goldstar-admin .goldstar-settings-category .row {
    display: block;
    width: 250px;
    float: left;
}

.goldstar-admin .goldstar-settings-category .row label {
    text-transform: uppercase;
}

.goldstar-admin .goldstar-settings-filter-display div.desc{
    width:  105px;
    display: block;
    float: left;
}

.goldstar-admin .goldstar-settings-filter-display label {
    padding: 0 5px;
}

/*//*/

.goldstar-admin #affiliate-key,
.goldstar-admin .goldstar-status-container {
    float: left;
}

.goldstar-admin .goldstar-status-container {
    padding: 0;
    margin: 3px;
}

.goldstar-admin .goldstar-status-container .goldstar-error .goldstar-message,
.goldstar-admin .goldstar-status-container .goldstar-success .goldstar-message
{
    
    padding: 2px 0 2px 20px;
    list-style-type: none;
}

.goldstar-admin .goldstar-status-container .goldstar-error .goldstar-message {
    background: url('../img/error.png') no-repeat center left transparent;
    color: #c33;
}

.goldstar-admin .goldstar-status-container .goldstar-success .goldstar-message {
    background: url('../img/accept.png') no-repeat center left transparent;
    color: #390;
}

.goldstar-admin .button-primary {
    float: right;
}

/* Territori list */

.territory-wrap {
    margin: 20px;
}
.territory-list-container {
    overflow: auto;
    height: 450px;
}

.territory-list-container table {
    text-align: center;
}

#choice-territory-id {
    float: right;
    margin: 10px;
}

#TB_ajaxContent {
    overflow: visible;
}

#TB_window {
    overflow: auto;
    
    max-height: 550px !important;
}

/*//*/

/*=============================//GOLDSTAR ADMIN=============================================*/

/*==================================== FRONT END CSS =========================================*/

.goldstar-frontend {
    font-family: Arial, Helvetica, sans-serif;
    font-size: inherit;
    min-width: 265px !important;
    color: #141412;
}

.button.eli_tiny {
    padding: 0px 18px !important;
    background-color: #fb6f00;
    text-decoration: none !important;
    font-weight: bold;
}

.goldstar-frontend .eli_wrap-inner {
    background-color: transparent;
}

.eli_wrap.goldstar-frontend {
    background-color: #fff;
    background-image: none;
}

.goldstar-frontend .eli_produce-wrap {
    margin: 0 0 25px !important;
}

.goldstar-frontend .eli_produce-wrap-inner {
    padding: 20px 20px 1px !important;
}

.goldstar-frontend .eli_produce-wrap-inner h2.eli_h2,
.goldstar-frontend .eli_row h4.eli_title a.eli_a {
    font-style: normal;    
    font-size: 25pt !important;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.goldstar-frontend .eli_produce-wrap-inner h2.eli_h2 {
    margin: 0 0 20px !important;
    padding: 0 !important;
}

.goldstar-frontend .eli_produce-wrap-inner p.eli_p {
    margin-bottom: 0px !important;
}

.goldstar-frontend .eli_content-can-filter-inner{
    padding: 2px !important;
}

.goldstar-frontend .eli_header ul.eli_ul {
    margin: 0 !important;
    padding: 17px 0 0 0 !important;
}

.goldstar-frontend .eli_header .eli_cate {
    float: left !important;
    list-style-type: none !important;
    padding: 0 0 17px !important;
    margin: 0  !important;
}

.goldstar-frontend .eli_header .eli_cate a.eli_a {
    color: #ccc;
    text-transform: capitalize;
    padding: 0px 17px !important;
    font-size: 16px !important;
    border-right: 1px solid #fff !important;
    text-decoration: none !important;
}

.goldstar-frontend .eli_header .eli_cate a.eli_a.eli_active {
    text-decoration: underline;
}

.goldstar-frontend .eli_header .eli_cate.last a.eli_a {
    border-right: none !important;
}

.goldstar-frontend .eli_content-inner {
    position: relative !important;
}

#goldstar-list-feed {
    position: relative !important;
}

.goldstar-frontend .eli_content-inner .eli_filter * {
    box-sizing: border-box !important;
}

.goldstar-frontend .eli_content-inner .eli_filter input.eli_input,
.goldstar-frontend .eli_content-inner .eli_filter select.eli_select,
.goldstar-frontend .eli_content-inner .eli_filter a.eli_button-gray,
.goldstar-frontend .eli_filter .eli_date-filter-from-to>div>img
{
    height: 28px !important;
    display: inline-block !important;
    vertical-align: top !important;
}

.goldstar-frontend .eli_filter .eli_date-filter-from-to>div>img {
    margin: 0 !important;
}

.goldstar-frontend .eli_content-inner .eli_filter {
    background-color: #e7e7e7;
    padding: 13px 17px 0px !important;
}

.goldstar-frontend .eli_content-inner .eli_list {
    padding: 10px 17px !important;
}

/*Filter*/
.goldstar-frontend .eli_filter .eli_category-filter.eli_filter-item,
.goldstar-frontend .eli_filter .eli_price-filter.eli_filter-item,
.goldstar-frontend .eli_filter .eli_location-filter.eli_filter-item
 {
    margin: 0 0px 10px 0 !important;
}
.goldstar-frontend .eli_filter .eli_filter-item {
    float: left !important;
}
.goldstar-frontend .eli_filter .eli_filter-button-main
{
    float: left !important;
    margin: 0 !important;
}

.goldstar-frontend .eli_filter .eli_filter-item input.eli_input,
.goldstar-frontend .eli_filter .eli_filter-item select.eli_select,
.goldstar-frontend .eli_filter a.eli_button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
}

.goldstar-frontend .eli_filter .eli_filter-item input.eli_input {
    width: 100px !important;
}

.goldstar-frontend .eli_filter .eli_filter-item input.eli_input,
.goldstar-frontend .eli_filter .eli_filter-item select.eli_select {
    border: 1px solid #ccc !important;
    padding: 4px 10px !important;
    margin: 0px !important;
}

.goldstar-frontend .eli_filter a.eli_button {
    padding: 0px 13px !important;
    display: inline-block !important;
    margin: 0 3px 10px 0 !important;
    font-weight: bold;
    line-height: 29px !important;
}

.goldstar-frontend .eli_filter .eli_filter-item select.eli_select {
    background: #fff;
    margin: 0 3px 0 0 !important;
}

.goldstar-frontend .eli_filter .eli_button {
    background: #777;
    color: #fff;
}
.goldstar-frontend .eli_filter .eli_button.eli_active {
    background: #82c400 !important;
}

.goldstar-frontend .eli_filter .eli_date-util
{
    float: left !important;
    margin: 0 11px 0px 0 !important;
}

.goldstar-frontend .eli_filter .eli_date-filter-from-to {
    margin: 0 15px 0px 0 !important;
    float: left !important;
}

.goldstar-frontend .eli_filter .eli_date-filter-from-to .eli_date-filter-from-wrapper{
    float: left !important;
    width: 130px !important;
    margin: 0 3px 10px 0 !important;
}

.goldstar-frontend .eli_filter .eli_date-filter-from-to .eli_date-filter-to-wrapper{
    float: left !important;
    width: 130px !important;
    margin: 0 0 10px 0 !important;
}

.goldstar-frontend .eli_filter .eli_date-filter-from-to input.eli_input {

}

span.eli_line {
    margin: 0 5px !important;
    color: #ddd;
}

#choice-from-date {
    margin: 0 3px 0 0 !important;
    height: 21px !important;
}

#choice-to-date {
    margin: 0 12px 0 0 !important;
    height: 21px !important;
}

.goldstar-frontend .eli_filter a.eli_button-primary {
    float:left !important;
    background: #1e8cbe;
    padding: 2px 13px !important;
    margin: 1px 0 0 0 !important;
}   

/*//*/

/*Row*/

.goldstar-frontend .eli_row {
    margin: 10px 0 0 0 !important;
    border-bottom: 1px solid #000;
    padding: 10px 0 15px 0 !important;
}

.goldstar-frontend .eli_row h4.eli_title {
    margin: 0 !important;
    padding: 0 !important;
}

.goldstar-frontend .eli_row h4.eli_title a.eli_a{
    text-decoration: none;
    margin: 5px 0 !important;
    padding: 0px !important;
    line-height: 35px !important;
}
.goldstar-frontend .eli_row h4.eli_title a.eli_a:hover {
    text-decoration: underline;
}

.goldstar-frontend .eli_row span.eli_address {
    font-size: 16px !important;
    color: #777777;
}

.goldstar-frontend .eli_row .eli_row-main {
    float: left !important;
    margin: 0 0 10px 0 !important;
    width: 100% !important;
}

.goldstar-frontend .eli_row .eli_row-main a.eli_img.eli_a,
.goldstar-frontend .eli_row .eli_row-main .eli_information
{
    float: left !important;
}

.goldstar-frontend .eli_row .eli_row-main a.eli_img.eli_a {
    width: 40% !important;
    margin: 5px 0 0 0 !important;
    height: auto !important;
    min-height: 100px !important;
}

.goldstar-frontend .eli_row .eli_row-main .eli_information {
    width: 60% !important;
    padding: 0 0 0 10px !important;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.goldstar-frontend .eli_row .eli_row-main .eli_information .eli_information-inner {
    width: 100% !important;
    float: left !important;
}

.goldstar-frontend .eli_row .eli_row-main .eli_information .eli_information-left,
.goldstar-frontend .eli_row .eli_row-main .eli_information .eli_information-right
{
    width: 50% !important;
    float: left !important;
    min-height: 100px !important;
}
.goldstar-frontend .eli_row .eli_row-main .eli_information .eli_information-right .eli_button-container {
    padding: 2px 0 0 !important;
}

.goldstar-frontend .eli_row .eli_row-main .eli_information .eli_information-left .eli_offer-date {
    margin: 0 20px 0 0 !important;
    font-size: 16px !important;
}

.goldstar-frontend .eli_row .eli_row-main img.eli_img {
    float: left !important;
    width: 100% !important;
    border: none !important;
}
.goldstar-frontend .eli_row .eli_row-main .eli_expand-summary {
    text-decoration: none;
}

.goldstar-frontend .eli_row .eli_summary p.eli_summary-short,
.goldstar-frontend .eli_row .eli_summary p.eli_summary-full {
    text-align: justify;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px !important;
}

.goldstar-frontend .eli_row a.eli_a{
    color: #333 !important;
    text-decoration: none;
}

.goldstar-frontend .eli_row .eli_offer-date,
.goldstar-frontend .eli_row .eli_full-price, 
.goldstar-frontend .eli_row .eli_our-price{
}

.goldstar-frontend .eli_row .eli_offer-date {
    font-size: 12px !important;
    font-weight: normal; 
}

.goldstar-frontend .eli_row .eli_offer-date br.eli_br{
    line-height: 22px !important;
}

.goldstar-frontend .eli_row .eli_offer-date .eli_offer-date-title,
.goldstar-frontend .eli_row .eli_full-price .eli_full-price-title,
.goldstar-frontend .eli_row .eli_our-price .eli_our-price-title
{
    font-weight: normal;
    font-size: 12px !important;
    margin: 0 5px 0 0 !important;
    text-transform: uppercase;
    color: #999;
    display: block !important;
}
.goldstar-frontend .eli_row .eli_offer-date .eli_offer-date-title {
    font-weight: normal;
}

.goldstar-frontend .eli_row .eli_full-price .eli_full-price-title,
.goldstar-frontend .eli_row .eli_our-price .eli_our-price-title {
    text-align: center;
}

.goldstar-frontend .eli_row .eli_full-price .eli_full-price-content,
.goldstar-frontend .eli_row .eli_our-price .eli_our-price-content
{
    font-weight: normal;
    font-size: 24px !important;
    display: block !important;
    text-align: center;
    line-height: 41px !important;
}
.goldstar-frontend .eli_row .eli_full-price .eli_full-price-content {
    color: #999;
}
.goldstar-frontend .eli_row .eli_our-price .eli_our-price-content {
    color: #ff6600;
}

.goldstar-frontend .eli_row .eli_button.eli_large {
    /** margin: 20px 0 0 0 !important; */

    width: 144px !important;
    background: #fb6f00 !important;
    text-decoration: none;
    display: block !important;
    text-align: center !important;
    
    margin: 0 auto !important;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none !important;
    
}

.goldstar-frontend .eli_row .eli_offer-date-content-summary a.eli_a:hover{
    text-decoration: underline;
}

.goldstar-frontend .eli_row .eli_offer-date-content-full a.eli_a:hover{
    text-decoration: underline;
}

.goldstar-frontend .eli_row .eli_summary .eli_summary-short a.eli_a:hover{
    text-decoration: underline;
}

.goldstar-frontend .eli_row .eli_summary .eli_summary-full a.eli_a:hover{
    text-decoration: underline;

}
.goldstar-frontend .eli_row .eli_button.eli_large span.eli_span {
    padding: 15px !important;
    color: #fff;
    font-size: 14px !important;
    display: block !important;
    font-weight: normal;
}

/*//*/

/* Pagination */

.goldstar-frontend .eli_pagination>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.goldstar-frontend .eli_pagination>ul{
    background: #fff;
    padding: 0 0 0 20px !important;
}

.goldstar-frontend .eli_pagination>ul>li {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
    float: left !important;
}

.goldstar-frontend .eli_pagination>ul>li>a,
.goldstar-frontend .eli_pagination>ul>li>span
{
    display: inline-block !important;
    padding: 4px 12px !important;
    margin-right: 4px !important;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #444;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: 14px !important;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.goldstar-frontend .eli_pagination>ul>li>a:hover {
    background: #346;
}

.goldstar-frontend .eli_pagination>ul>li.active>a,
.goldstar-frontend .eli_pagination>ul>li.active>span{
    border: solid 1px #c0c0c0;
    background: #346;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #fff;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
    cursor: default;
}
/*//*/

/* Loading */
.goldstar-frontend .goldstar-loading {
    position: absolute !important;
    display: block !important;
    z-index: 9999 !important;
    background: url('../img/loading.gif') no-repeat center center transparent;    
}
/*//*/

/* Date time picker */
.ui-datepicker {
    font-size: 13px !important;
}
/*//*/


/* CSS FOR MOBILE */
.goldstar-frontend.goldstar-mobile  .eli_row .eli_row-main a.eli_img {
    width: 100% !important;
}

.goldstar-frontend.goldstar-mobile  .eli_row .eli_row-main .eli_information {
    width: 100% !important;
}

.goldstar-frontend.goldstar-mobile  .eli_row .eli_row-main .eli_information .eli_information-inner {
    margin: 10px 0 0 0 !important;
}
.goldstar-frontend.goldstar-mobile  .eli_filter .eli_date-filter-from-to {
    margin: 0 30px 0px 0 !important;
}    

.goldstar-frontend.goldstar-mobile  .eli_row h4.eli_title a.eli_a {
    font-size: 26px !important;
}
.goldstar-frontend.goldstar-mobile  .eli_row .eli_button.eli_large{
    width: 130px !important;
    
}
.goldstar-frontend.goldstar-mobile  .eli_row .eli_button.eli_large span.eli_span{
    font-size: 12px !important;
} 
/* END CSS FOR MOBILE */

/* CSS FOR MOBILE SMALL */
.goldstar-frontend.goldstar-mobile-small  .eli_row .eli_button.eli_large {
    width: 115px !important;
}

.goldstar-frontend.goldstar-mobile-small  .eli_row .eli_button.eli_large span.eli_span {
    font-size: 11px !important;
}

/* END CSS FOR MOBILE SMALL */

/* OVERRIDE BY DEVICE WIDTH */
@media only screen
and (max-device-width : 481px)
{  
/* Styles */  
  .goldstar-frontend .eli_row .eli_row-main a.eli_img {
    width: 100% !important;
  }

  .goldstar-frontend .eli_row .eli_row-main .eli_information {
    width: 100% !important;
  }

  .goldstar-frontend .eli_row .eli_row-main .eli_information .eli_information-inner {
    margin: 10px 0 0 0 !important;
  }
  .goldstar-frontend .eli_filter .eli_date-filter-from-to {
      margin: 0 30px 0 0 !important;
  }    
  
  .goldstar-frontend  .eli_row .eli_button.eli_large{
    width: 130px !important;
   }
  .goldstar-frontend  .eli_row .eli_button.eli_large span.eli_span{
    font-size: 12px !important;
  } 
  
}
/* END OVERRIDE BY DEVICE WIDTH */

/*=============================================================================================*/